<app-template-page [titre]="'Modification du client ' + clientName"
  (actionRetour)="goBackToList()">
  <ngb-toast header="Modification du client"
client="bg-succes text-alght" *ngIf="success"
(hidden) = "goBackToList()">
Modifications réussie
</ngb-toast>

<ngb-toast header="Modification du client"
client="bg-danger text-alght" *ngIf="failure"
[delay]="1000" (hidden)="failure = false">
Modifications échoués
</ngb-toast>


<form [formGroup]="formulaire">

  <fieldset class="fieldset m-5">
  <div class="form-control m-3">
    <label>
      Id :
      <input [ngModel]= "client.id" type="number" disabled> <!-- * -->
    </label>
  </div>
  <div class="form-control m-3">
    <label>
      Nom :
      <input [(ngModel)]= "client.name" type="text">
    </label>
  </div>
  <div class="form-control m-3">
    <label>
      Prénom :
      <input [(ngModel)]= "client.firstname" type="text">
    </label>
  </div>
  <div class="form-control m-3">
    <label>
      Raison sociale :
      <input [(ngModel)]= "client.socialReason" type="text">
    </label>
  </div>
  <div class="form-control m-3">
    <label>
      Numéro du département :
      <input [(ngModel)]= "client.numDepartment" type="text">
    </label>
  </div>
  <div class="form-control m-3">
    <label>
      Numéro de téléphone :
      <input [(ngModel)]= "client.numTel" type="number">
    </label>
  </div>

  </fieldset>

</form>

<button class="btn btn-primary" (click)="updateClient()">Valider</button>
<button class="btn btn-secondary">
  <a [routerLink]="'../../list'">Retour</a>
</button>
</app-template-page>
