<app-template-page [titre]="'Modification du client ' + clientName + firstName "
  (actionRetour)="goBackToList()">
  <ngb-toast header="Modification du client"
client="bg-succes text-alght" *ngIf="success"
(hidden) = "goBackToList()">
Modifications réussie
</ngb-toast>

<ngb-toast header="Modification du client"
client="bg-danger text-alght" *ngIf="failure"
[delay]="1000" (hidden)="failure = false">
Modifications échoués
</ngb-toast>


<form [formGroup]="formulaire" *ngIf="formulaire">

  <fieldset class="fieldset m-5">
  <div class="form-control m-3">
    <label >
      Id :
      <input formControlName="id"  type="number"> <!-- * -->
    </label>
  </div>
  <div class="form-control m-3">
    <label>
      Nom :
      <input formControlName="name"  type="text">
    </label>
    <p class="text-danger"
    *ngIf="formulaire.controls['id'].invalid">
    Champ obligatoire.</p>
  </div>
  <div class="form-control m-3">
    <label>
      Prénom :
      <input formControlName="firstname"  type="text">
    </label>
    <p class="text-danger"
    *ngIf="formulaire.controls['id'].invalid">
      Champ obligatoire.</p>
  </div>
  <div class="form-control m-3">
    <label>
      Raison sociale :
      <input formControlName="socialreason"  type="text">
    </label>
    <p class="text-danger"
    *ngIf="formulaire.controls['id'].invalid">
    Champ obligatoire.</p>
  </div>
  <div class="form-control m-3">
    <label>
      Numéro du département :
      <input formControlName="numdepartment"  type="text">
    </label>
  </div>
  <div class="form-control m-3">
    <label>
      Numéro de téléphone :
      <input formControlName="numtele" type="number">
    </label>
  </div>

  </fieldset>

</form>

<button class="btn btn-primary" (click)="updateClient()"
>Valider</button>
<button class="btn btn-secondary">
  <a [routerLink]="'../../list'">Retour</a>
</button>
</app-template-page>
