<style></style>

<app-ui>
  <app-nav class="trans-nav">
    Depuis trans-nav dans app-component</app-nav>

  <app-footer class="trans-footer">
    Depuis trans-footer dans app-component</app-footer>

  <app-header class="trans-header">
    Depuis trans-header dans app-component</app-header>

  <router-outlet class="trans-content">
   <p>Depuis trans-content dans app-component</p></router-outlet>
  <!-- <app-icon-close class="trans-nav-btn btn btn-warning"></app-icon-close>
  <app-icon-nav class="trans-icon-close"></app-icon-nav> -->
</app-ui>
