<app-template-page [titre]="'Ajout d\'un nouveau client'">


  <ngb-toast header="Ajout d'un nouveau client" class="bg-success text-light" [delay]="5000" *ngIf="success"
    (hidden)="goBackToList()">
    Ajout réussi !
  </ngb-toast>
  <ngb-toast header="Ajout d'un client" class="bg-danger" [delay]="5000" *ngIf="failure" (hidden)="failure= false">
    Echec de l'ajout !
  </ngb-toast>

  <form [formGroup]="formulaire">
    <fieldset class="fieldset m-5" [disabled]="success">
      <div class="form-control m-3 border border-primary">
        <label class="m-bottom 0">
          Id :
          <input formControlName="id" type="number" min="0">
        </label>
        <p class="text-secondary" *ngIf="formulaire.controls['id'].invalid">
          Identifiant requis et doit être supérieur à 2</p>
      </div>
      <div class="form-control m-3 border border-primary">
        <label class="m-bottom 0">
          Nom :
          <!-- L'UTILISATION DU FORMBUILDER les enlèves
        <input [(ngModel)]= "name" type="text">
        On remplace PAR :-->
          <input formControlName="name" type="text">
        </label>
        <p></p>
        <p class="text-secondary" *ngIf="formulaire.controls['name'].invalid">
          Nom requis</p>
      </div>
      <div class="form-control m-3 border border-primary">
        <label>
          Prénom :
          <!-- L'UTILISATION DU FORMBUILDER les enlèves
      <input [(ngModel)]= "name" type="text">
      On remplace PAR :-->
          <input formControlName="firstname" type="text">
        </label>
        <p></p>
        <p class="text-secondary" *ngIf="formulaire.controls['firstname'].invalid">
          Prénom requis</p>
      </div>

      <div class="form-control m-3 border border-primary">
        <label>
          Raison Sociale :
          <!-- L'UTILISATION DU FORMBUILDER les enlèves
    <input [(ngModel)]= "name" type="text">
    On remplace PAR :-->
          <input formControlName="socialReason" type="text">
        </label>
        <p></p>
        <p class="text-secondary" *ngIf="formulaire.controls['socialReason'].invalid">
          Raison sociale requis</p>
      </div>

      <div class="form-control m-3 border border-primary">
        <label>
          Numéro de Departement :
          <!-- L'UTILISATION DU FORMBUILDER les enlèves
    <input [(ngModel)]= "name" type="text">
    On remplace PAR :-->
          <input formControlName="numDepartment" type="text">
          <p class="text-secondary" *ngIf="formulaire.controls['numDepartment'].invalid">
            Le numéro de département est requis et doit contenir
            au moins 5 caractères.</p>
        </label>

      </div>

      <div class="form-control m-3 border border-primary">
        <label>
          Num de téléphone :
          <!-- L'UTILISATION DU FORMBUILDER les enlèves
    <input [(ngModel)]= "name" type="text">
    On remplace PAR :-->
          <input formControlName="numTel" type="text">
          <p class="text-secondary" *ngIf="formulaire.controls['numTel'].invalid">
            Le numéro de département est requis et doit contenir
            au moins 5 caractères.</p>
        </label>
        <p></p>
      </div>


    </fieldset>

    <button class="btn btn-primary m-3" (click)="ajouter()" [disabled]="formulaire.invalid">
      <!-- Grise le bouton -->
      Ajouter
    </button>

    <button class="btn btn-secondary">
      <a [routerLink]="'/clients/list'">Retour</a>
    </button>

  </form>
  <!-- * [] du .ts vers l'html : lien dynamique comme avec [ngClass]
  () du .html vers le .ts
  [()] bi directionnel : si je change dans l'un, la valeur change dans l'autre. -->
</app-template-page>